.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
*.ipr
*.iws
project/
.gradle/
out/
.metadata
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
contiperf-report/
bin/
build/
*/src/generated/
export.sql
.DS_Store
node_modules/
npm-debug.log
vcs.xml
*.map
seller-rating-domain/src/main/resources/vitamin/properties/project-local-override.xml
